<div class="main-page">

  <!--The content below is only a placeholder and can be replaced.-->
  <div>
    <h1>
      {{ title }}
    </h1>
  </div>

  <div id="train-model">
    <button class="predict-button" (click)="trainModel()">Train Model</button>
    <br>
    <p *ngIf='model_accuracy != 0'>Model created, accuracy: {{model_accuracy}}</p>
  </div>

  <div id="prediction">
    <div *ngIf="model_accuracy != 0">

      <div class="inputs">
        <form class="inputs">
          sepal_length: <input class="number-input" title="sepal_length" [(ngModel)]="sepal_length" type="number"
                               name="sepal_length"> <br>
          sepal_width: <input class="number-input" [(ngModel)]="sepal_width" type="number" name="sepal_width"> <br>
          petal_length: <input class="number-input" [(ngModel)]="petal_length" type="number" name="petal_length"> <br>
          petal_width: <input class="number-input" [(ngModel)]="petal_width" type="number" name="petal_width"> <br>
        </form>
      </div>

      <button class="predict-button" disabled *ngIf="!fieldsFilled()" (click)="makePrediction()">Predict</button>
      <button class="predict-button" *ngIf="fieldsFilled()" (click)="makePrediction()">Predict</button>

      <div class="answer" *ngIf="this.prediction != null"> {{this.prediction}}</div>
    </div>
  </div>
  <br><br>

  <div *ngIf="this.prediction != null" id="results">
    <button class="predict-button" (click)="getPredictions()">Results</button>
    <button id="clear-button" class="predict-button" (click)="deletePredictions()">Clear</button>
    <br><br>


    <table class="results" *ngIf="this.results != null" border="1" style="width:50%">
      <tr>
        <th>Date Created</th>
        <th>Sepal Length</th>
        <th>Sepal Width</th>
        <th>Petal Length</th>
        <th>Petal Width</th>
        <th>Prediction</th>
      </tr>

      <tr *ngFor="let prediction of this.results">
        <td>{{ prediction.date }}</td>
        <td>{{ prediction.sepal_length }}</td>
        <td>{{ prediction.sepal_width }}</td>
        <td>{{ prediction.petal_length }}</td>
        <td>{{ prediction.petal_width }}</td>
        <td>{{ prediction.prediction }}</td>
      </tr>
    </table>

    <!--<mat-table [dataSource]="this.results">-->
    <!--<ng-container matColumnDef="time">-->
    <!--<th mat-header-cell *matHeaderCellDef>time</th>-->
    <!--<td mat-cell *matCellDef="let prediction">{{prediction.date}}</td>-->
    <!--</ng-container>-->

    <!--<ng-container matColumnDef="sepal_length">-->
    <!--<th mat-header-cell *matHeaderCellDef>sepal_length</th>-->
    <!--<td mat-cell *matCellDef="let prediction">{{prediction.sepal_length}}</td>-->
    <!--</ng-container>-->

    <!--<ng-container matColumnDef="sepal_width">-->
    <!--<th mat-header-cell *matHeaderCellDef>sepal_width</th>-->
    <!--<td mat-cell *matCellDef="let prediction">{{prediction.sepal_width}}</td>-->
    <!--</ng-container>-->

    <!--<ng-container matColumnDef="petal_length">-->
    <!--<th mat-header-cell *matHeaderCellDef>petal_length</th>-->
    <!--<td mat-cell *matCellDef="let prediction">{{prediction.petal_length}}</td>-->
    <!--</ng-container>-->

    <!--<ng-container matColumnDef="petal_width">-->
    <!--<th mat-header-cell *matHeaderCellDef>petal_width</th>-->
    <!--<td mat-cell *matCellDef="let prediction">{{prediction.petal_width}}</td>-->
    <!--</ng-container>-->

    <!--<ng-container matColumnDef="prediction">-->
    <!--<th mat-header-cell *matHeaderCellDef>prediction</th>-->
    <!--<td mat-cell *matCellDef="let prediction">{{prediction.prediction}}</td>-->
    <!--</ng-container>-->

    <!--<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
    <!--<tr mat-row *matRowDef="let myRowData; columns: displayedColumns"></tr>-->

    <!--</mat-table>-->

  </div>

</div>
